<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
     {% load static %}

    <link rel="stylesheet" href="{% static 'style2.css' %}">
</head>
  <body>
    <header class="header">

      <h1 class="header-title">Добавить друга</h1>

    </header>
    <h1 style="color:blue">Добавить друга</h1><br>
        <p>
          <form method="post">
            {% csrf_token %}
            {% for fild in form %}
              <p><label>
              {{ fild.label }}: </label>{{ fild }}</p><br>
            {% endfor %}

        <p><button type="submit">Сохранить</button></p>

          </form>
       </p>
  </body>
</html>