body, h1, h2, h3, h4, p, a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

tr {
  background-color: #fff;
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.header {
  height: 50px;
  background-color: #520808;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.header-title {
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  font-weight: 50;
  margin: 0 auto 0 auto;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  display: flex;
}

.content {
  font-size: 15px;
  width: 790px;
  margin: 0 auto 0 auto;
}

.card {
  width: 250px;
  margin-bottom: 60px;
  margin-right: 90px;
  padding: 45px 45px 30px 45px;
  box-shadow: 4px 4px 5px rgba(250, 50, 50, .4);
  display: inline-block;
}
.no-left-margin {
  margin-left: 0px;
}

.no-right-margin {
  margin-right: 0px;
}

.card-image {
  width: 100%;
  margin-bottom: 25px;
}

.card-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
}

.footer {
  height: 50px;
  background-color: #042972;
  display: flex;
}

.footer-author {
  color: #fff;
  font-size: 24px;
  margin: auto;
}

.radio {
  position: relative;
  width: 50px;
  padding: 0 0 0 55px;
  /* margin: 15px 25px; */
  cursor: pointer;
  display: inline-block;
  line-height: 3;
  border-radius: 25px;
  border: 1px solid;
}

.button {
  text-align: center;
  background: #fff;
  margin: 20px 0;
  padding: 10px;
}

.center-text{
  text-align: center;
}

